<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
    <nav>
      <ul>
        <li><a href="/flights">All Flights</a></li>
        <li><a href="/flights/new">New Flight</a></li>
      </ul>
    </nav>
    </header>
    <h1>Welcome to the Flights App!</h1>
  </body>
</html>











    



